In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_sachin = pd.read_csv("Sachin_ODI.csv")

In [3]:
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [4]:
df_sachin.shape

(360, 14)

In [5]:
df_sachin["Won"].value_counts()

True     184
False    176
Name: Won, dtype: int64

Probability of winning: 184/360

In [6]:
184/360

0.5111111111111111

In [7]:
df_won = df_sachin[df_sachin["Won"]==True]

In [8]:
len(df_won)

184

In [9]:
prob_winning = len(df_won) / len(df_sachin)
prob_winning

0.5111111111111111

In [10]:
df_sachin["century"].value_counts()

False    314
True      46
Name: century, dtype: int64

In [11]:
46/360

0.12777777777777777

In [12]:
df_century = df_sachin[df_sachin["century"]==True]

In [13]:
df_century.shape

(46, 14)

In [14]:
prob_century = len(df_century) / len(df_sachin)
prob_century

0.12777777777777777

In [15]:
df_sachin[["century", "Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
dtype: int64

In [16]:
# Contingency Table
pd.crosstab(index=df_sachin["century"], columns=df_sachin["Won"])

Won      False  True
century
False      160   154
True        16    30

In [17]:
pd.crosstab(index=df_sachin["century"], columns=df_sachin["Won"], margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [18]:
30 / 360 # prob of winning AND century

0.08333333333333333

In [19]:
# "And" means intersection
df_win_and_century = df_sachin[(df_sachin["century"] == True) & (df_sachin["Won"] == True)]

In [20]:
len(df_win_and_century)

30

In [21]:
prob_win_and_century = len(df_win_and_century) / len(df_sachin)
prob_win_and_century

0.08333333333333333

In [22]:
pd.crosstab(index=df_sachin["century"], columns=df_sachin["Won"], margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [23]:
# "OR" probability of winning OR century
184 + 46 - 30

200

In [24]:
df_win_or_century = df_sachin[(df_sachin["century"] == True) | (df_sachin["Won"] == True)]

In [25]:
len(df_win_or_century)

200

In [26]:
prob_win_or_century = len(df_win_or_century) / len(df_sachin)
prob_win_or_century

0.5555555555555556

Complement: all values outside A is the complement of A

In [27]:
df_won = df_sachin[df_sachin["Won"]==True]
prob_winning = len(df_won) / len(df_sachin)
prob_winning

0.5111111111111111

In [28]:
df_lost = df_sachin[df_sachin["Won"]==False]
prob_losing = len(df_lost) / len(df_sachin)
prob_losing

0.4888888888888889

In [29]:
prob_losing + prob_winning

1.0

In [30]:
df_century = df_sachin[df_sachin["century"]==True]
prob_century = len(df_century) / len(df_sachin)
prob_century

0.12777777777777777

In [31]:
df_not_century = df_sachin[df_sachin["century"]==False]
prob_not_century = len(df_not_century) / len(df_sachin)
prob_not_century

0.8722222222222222

In [32]:
prob_century + prob_not_century

1.0

All matches where Sachin has scored atleast 8 fours

In [33]:
df_at_least_eight_fours = df_sachin[df_sachin["fours"] >= 8]

In [34]:
len(df_at_least_eight_fours)

96

In [35]:
96/360

0.26666666666666666

In [36]:
prob_at_least_eight_fours = len(df_at_least_eight_fours) / len(df_sachin)
prob_at_least_eight_fours

0.26666666666666666

In [37]:
df_at_most_seven_fours = df_sachin[df_sachin["fours"] <= 7]

In [38]:
360 - 96

264

In [39]:
len(df_at_most_seven_fours)

264

Mutually exclusive

In [40]:
df_three_sixes = df_sachin[df_sachin["sixes"]==3]
len(df_three_sixes)

10

In [41]:
df_five_sixes = df_sachin[df_sachin["sixes"]==5]
len(df_five_sixes)

6

In [42]:
len(df_sachin[(df_sachin["sixes"]==3) & (df_sachin["sixes"]==5)])

0