## Loading the standard libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Loading the dataset

In [2]:
data = pd.read_csv('Health_Insurance.csv')
data.head()

   Age  Purchased
0   19          0
1   35          0
2   26          0
3   27          0
4   19          0