In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
data['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

## Check for missing values in the data

In [4]:
data.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [5]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

## Create the X and y from the dataset

In [6]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
X_train.shape, X_test.shape

((112, 4), (38, 4))

### Apply logistic Regression

In [8]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

### Perform the predictions on X_test data and store the result in y_pred

In [9]:
y_pred = lr.predict(X_test)
y_pred

array(['virginica', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'setosa', 'virginica',
       'virginica', 'versicolor', 'setosa', 'virginica'], dtype=object)

In [21]:
lr.predict_proba(X_test)

array([[1.17923988e-04, 5.61477646e-02, 9.43734311e-01],
       [1.26289144e-02, 9.60454649e-01, 2.69164365e-02],
       [9.84397662e-01, 1.56022990e-02, 3.85629176e-08],
       [1.25178576e-06, 2.31526624e-02, 9.76846086e-01],
       [9.70234812e-01, 2.97650252e-02, 1.62602976e-07],
       [2.01668233e-06, 5.94451581e-03, 9.94053468e-01],
       [9.81899508e-01, 1.81004220e-02, 7.04446579e-08],
       [2.84241323e-03, 7.47090370e-01, 2.50067217e-01],
       [1.50915548e-03, 7.38523334e-01, 2.59967510e-01],
       [2.05288095e-02, 9.35891336e-01, 4.35798547e-02],
       [9.22425629e-05, 1.59473874e-01, 8.40433883e-01],
       [6.98627852e-03, 8.09990320e-01, 1.83023401e-01],
       [4.08220420e-03, 7.93602432e-01, 2.02315363e-01],
       [3.05681764e-03, 7.60910422e-01, 2.36032760e-01],
       [3.87699715e-03, 7.10277101e-01, 2.85845902e-01],
       [9.82815595e-01, 1.71843480e-02, 5.65465066e-08],
       [6.72901374e-03, 7.56465752e-01, 2.36805234e-01],
       [1.14291828e-02, 8.45110811e-01, 1.43460006e-01],
       [9.67582168e-01, 3.24176173e-02, 2.14239321e-07],
       [9.82872116e-01, 1.71278247e-02, 5.96886313e-08],
       [8.34495991e-04, 1.93259645e-01, 8.05905859e-01],
       [1.03255884e-02, 7.11148014e-01, 2.78526398e-01],
       [9.44128868e-01, 5.58700840e-02, 1.04839246e-06],
       [9.75498546e-01, 2.45012862e-02, 1.67522735e-07],
       [1.36907324e-03, 4.26371403e-01, 5.72259524e-01],
       [9.94203371e-01, 5.79661978e-03, 9.65302171e-09],
       [9.50240530e-01, 4.97583376e-02, 1.13241730e-06],
       [1.07122636e-02, 9.00995141e-01, 8.82925959e-02],
       [1.40885129e-01, 8.52873940e-01, 6.24093188e-03],
       [9.61492000e-01, 3.85075503e-02, 4.49519162e-07],
       [9.90729622e-05, 1.15644255e-01, 8.84256672e-01],
       [1.19870233e-02, 6.84360259e-01, 3.03652718e-01],
       [9.68058475e-01, 3.19413748e-02, 1.50148876e-07],
       [1.28526293e-03, 3.57780607e-01, 6.40934130e-01],
       [1.48834713e-05, 3.38270882e-02, 9.66158028e-01],
       [4.81305308e-02, 8.80739653e-01, 7.11298166e-02],
       [9.44629270e-01, 5.53703385e-02, 3.91127692e-07],
       [6.02623453e-04, 3.11031513e-01, 6.88365863e-01]])

In [11]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
114           5.8          2.8           5.1          2.4
62            6.0          2.2           4.0          1.0
33            5.5          4.2           1.4          0.2
107           7.3          2.9           6.3          1.8
7             5.0          3.4           1.5          0.2
100           6.3          3.3           6.0          2.5
40            5.0          3.5           1.3          0.3
86            6.7          3.1           4.7          1.5
76            6.8          2.8           4.8          1.4
71            6.1          2.8           4.0          1.3
134           6.1          2.6           5.6          1.4
51            6.4          3.2           4.5          1.5
73            6.1          2.8           4.7          1.2
54            6.5          2.8           4.6          1.5
63            6.1          2.9           4.7          1.4
37            4.9          3.6           1.4          0.1
78            6.0          2.9           4.5          1.5
90            5.5          2.6           4.4          1.2
45            4.8          3.0           1.4          0.3
16            5.4          3.9           1.3          0.4
121           5.6          2.8           4.9          2.0
66            5.6          3.0           4.5          1.5
24            4.8          3.4           1.9          0.2
8             4.4          2.9           1.4          0.2
126           6.2          2.8           4.8          1.8
22            4.6          3.6           1.0          0.2
44            5.1          3.8           1.9          0.4
97            6.2          2.9           4.3          1.3
93            5.0          2.3           3.3          1.0
26            5.0          3.4           1.6          0.4
137           6.4          3.1           5.5          1.8
84            5.4          3.0           4.5          1.5
27            5.2          3.5           1.5          0.2
127           6.1          3.0           4.9          1.8
132           6.4          2.8           5.6          2.2
59            5.2          2.7           3.9          1.4
18            5.7          3.8           1.7          0.3
83            6.0          2.7           5.1          1.6

In [15]:
y_test = pd.DataFrame(y_test)
y_test

     Outcome
661        1
122        0
113        0
14         1
529        0
..       ...
366        1
301        1
382        0
140        0
463        0

[192 rows x 1 columns]

## Confusion matrix and classification report

In [24]:
accuracy_score(y_test, y_pred)

0.9736842105263158

In [23]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [25]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [26]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        13
  versicolor       0.94      1.00      0.97        15
   virginica       1.00      0.90      0.95        10

    accuracy                           0.97        38
   macro avg       0.98      0.97      0.97        38
weighted avg       0.98      0.97      0.97        38